
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins";
}

#container1 {
    background: radial-gradient(circle at center, rgb(139 ,195, 245), #1294b8);
    height : 100vh;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}


#kucra {
    font-size: 2em;
    font-weight: bold;
}

.headerLinks {
    color: white;
    text-decoration: none;
}

ul{
    text-align: center;
    list-style-type: none;
}

li{
    display: inline-block;
    margin: 0 10px;
} 

#socialsContainer {
    display: flex;
    justify-content: space-between;
    width: 4%;
}

#presentationSection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
}

#articlePresentation {

    width: 28%;
    color:black;
    text-align: justify;
}

h1 {
    font-size: 1em;
}

h2 {
    font-size: 4em;
    font-weight: 700;
    margin: 30px 0px;
}

form {
    max-width: 100%;
    position: relative;
}

#subscribeInput {
    background: rgba(255,255,255,0.5);
    border: none;
    border-radius: 25px;
    padding: 1rem 2rem;
    width: 100%;
    outline: none;
    color: rgb(61, 61, 61);
}

#subscribeButton {
    cursor: pointer;
    color: white;
    background: #1294b8;
    border : none;
    border-radius : 20px;
    height: 80%;
    width: 130px;
    aspect-ratio: 1;

    position: absolute;
    right: 5px;
    top: 10%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
#subscribeButton:hover {
    background-color: rgba(255,255,255);
    color: #009ac9;
    border-color: #009ac9;
  }

#figurePresentation {
    width : 45%;
}