
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins";
}

#container1 {
    background: radial-gradient(circle at center, rgb(139 ,195, 245), #1294b8);
    height : 100vh;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}


#kucra {
    font-size: 2em;
    font-weight: bold;
}

.headerLinks {
    color: white;
    text-decoration: none;
}

ul{
    text-align: center;
    list-style-type: none;
}

li{
    display: inline-block;
    margin: 0 10px;
} 

#socialsContainer {
    display: flex;
    justify-content: space-between;
    width: 4%;
}

#presentationSection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
}

#articlePresentation {

    width: 28%;
    color:black;
    text-align: justify;
}

h1 {
    font-size: 1em;
}

h2 {
    font-size: 4em;
    font-weight: 700;
    margin: 30px 0px;
}

.blackParagraph {
    color: black;
}

.whiteParagraph {
    color: white;
}

.greyParagraph {
    color: grey;
}

form {
    max-width: 100%;
    position: relative;
}

#subscribeInput {
    background: rgba(255,255,255,0.5);
    border: none;
    border-radius: 25px;
    padding: 1rem 2rem;
    width: 100%;
    outline: none;
    color: rgb(61, 61, 61);
}

#subscribeButton {
    cursor: pointer;
    color: white;
    background: #1294b8;
    border : none;
    border-radius : 20px;
    height: 80%;
    width: 130px;
    aspect-ratio: 1;

    position: absolute;
    right: 5px;
    top: 10%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
#subscribeButton:hover {
    background-color: rgba(255,255,255);
    color: #009ac9;
    border-color: #009ac9;
  }

#figurePresentation {
    width : 45%;
}

#productFeaturesSection {
    background: white;
    height: 100vh;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#articleProductsFeatures {
    justify-content: center;
    margin-bottom: 50px;
}

#productsFeaturesTitle {
    font-size: 2em;
    margin: 20px 0;
}

#cardsContainer {
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    width: 400px;
    height: 350px;
    background: radial-gradient(circle at center, rgb(139 ,195, 245), #1294b8);
    border-radius: 30px;
    margin: 0 10px;
    padding: 20px;
    color: white;
    align-content: center;
}

.cardTitle {
    margin-top: 30px;
}

.cardParagraph {
    font-size: 13px;
}

#howItWorks {
    display:flex;
    height: 100vh;
    background: rgb(247, 247, 247);
    text-align: center;
    justify-content: center;
}

#howItWorksArticle {
    width: 30vw;
}

#teamSection {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#teamParagraphs {
    width: 70%;
    text-align: center;
    margin: 50px auto;

}

.teamParagraph1 {
    font-size: 2em;
    font-weight: bold;
}

.smallTitles {
    font-size: 2em;
    padding-top: 50px;
}

.roundPortrait{
    border-radius: 50%;
    height: 240px;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.teamCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0;
}

.teamCard {
    margin: 0 30px;
}

h4 {
    text-align: center;
}

h5 {
    color: grey;
    font-weight: 300;    
    text-align: center;
}

.spanCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blackSpan {
    color: black;
    font-size: 2em;
}

.greySpan {
    color: grey;
}

#parallaxSection {
    min-height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/parallax.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#parallaxArticle {
    width: 60vw;
}

#parallaxTitle {
    font-size: 2em;
}

#getStarted {
    color: white;
    text-decoration: none;
    border: solid white 1px;
    width: 120px;
    padding: 5px;
    margin: 40px 0;
}

#blogSection {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.blogHeader {
    text-align: center;
}

.blogArticles {
    display: flex;

}
.blogCard {
}

.blogImages {
    height: 300px;
    justify-self: center;
    margin: 0 auto;
}
